<!DOCTYPE html>
<html>

<head>
        <title>Back Dashboard</title>
        <link 
                rel='stylesheet' href="assets/css/style3.css" />
                <link rel="icon" type="image/png" href="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\Asset 5.png" />
</head>

<body>
        </div>
        <div class='menu' ; style="display:block" ;>
                <div class='Logo' ;>
                        <span class="img"><img
                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\Asset 5.png"
                                        alt="Meta-Four"></span>
                        <span class="text">
                                <h1>Meta-Four</h1>
                                <h2>The source for computing and technology.</h2>
                        </span>
                </div>

                <div class='sidebar' id="Sidebar">
                        <br>
                        <div class='items'>


                                <h1 class='items'>CORE</h1>
                                <img class="line"
                                        src='C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\Asset 7.png'>
                                <br><br>

                                <a href='Dashboard.html'>
                                        <div class="item">
                                                <h2 class="sidebar">Dashboard</h2>
                                        </div>
                                </a>

                                <br>

                                <h1 class="items">MANAGMENT</h1>
                                <img class="line"
                                        src='C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\Asset 7.png'>
                                <br><br>

                                <a href='produit.php'>
                                        <div class='item'>
                                                <h2 class="sidebar">Produit</h2>
                                        </div>
                                </a>



                                <a href='#'>
                                        <div class='item'>
                                                <h2 class="sidebar">Course</h2>
                                        </div>
                                </a>

                                <a href='#'>
                                        <div class='item'>
                                                <h2 class="sidebar">Delete Course</h2>
                                        </div>
                                </a>

                                <a href='#'>
                                        <div class='item'>
                                                <h2 class="sidebar">Income</h2>
                                        </div>
                                </a>

                        </div>
                        <div class="profile">
                                <h1>Logged in as:</h1>
                                <div class="profile_id">
                                        <a href="#">
                                                <h2>Jmai Mohamed</h2>
                                        </a>
                                </div>
                                <div class="profile_frame" ; style="display:block" ;><img
                                                src="assets\img\mohamed.jpg"
                                                alt="admin"></div>
                        </div>

                </div>
                <div class='content' id='content'>
                        <div class="top_stat">
                                <div id='visitors_st'>
                                        <p>Total visitors</p>
                                        <h1 class="stats">4,751</h1>
                                        <div class="percentage">
                                                <img id='container_p'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\container_p.png"
                                                        alt="container">
                                                <h1 class="value_p">10%</h1>
                                                <img id='arrow'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\green_arrow.png"
                                                        alt="green_arrow">
                                        </div>
                                </div>
                                <div id='members_st'>
                                        <p>Total Members</p>
                                        <h1 class="stats">789</h1>
                                        <div class="percentage">
                                                <img id='container_p'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\container_p.png"
                                                        alt="container">
                                                <h1 class="value_p">14%</h1>
                                                <img id='arrow'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\green_arrow.png"
                                                        alt="green_arrow">
                                        </div>
                                </div>
                                <div id='products_st'>
                                        <p>Products Sold</p>
                                        <h1 class="stats">311</h1>
                                        <div class="percentage">
                                                <img id='container_p'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\container_p.png"
                                                        alt="container">
                                                <h1 class="value_p">6%</h1>
                                                <img id='arrow'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\red_arrow.png"
                                                        alt="red_arrow">
                                        </div>

                                </div>
                                <div id='course_p_st'>
                                        <p>Courses Sold</p>
                                        <h1 class="stats">54</h1>
                                        <div class="percentage">
                                                <img id='container_p'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\container_p.png"
                                                        alt="container">
                                                <h1 class="value_p">0%</h1>
                                                <img id='arrow'
                                                        src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\neutral_arrow.png"
                                                        alt="neutral_arrow">
                                        </div>
                                </div>

                        </div>
                        <div class="contributors">
                                <div id='top_5'>
                                        <h1>TOP 5 CONTRIBUTORS</h1>
                                </div>
                                <div id='top5_list'>
                                        <ol>
                                                <li>Handy_man2541</li>
                                                <li>Tekman_14</li>
                                                <li>Saber_Paris125</li>
                                                <li>Kais_Abid69</li>
                                                <li>Mr.Nabilzzz</li>
                                        </ol>
                                </div>
                        </div>
                        <div class="courses_sales">
                                <div class='cs_title'>
                                        <p>2021 Courses Sales</p>
                                </div>
                                <div class='elements'>
                                        <span class="dot" id='dot1'></span>
                                        <span class='type'>
                                                <p>Cyber Security</p>
                                        </span>
                                        <span class="dot" id='dot2'></span>
                                        <span class='type'>
                                                <p>Data Sceince</p>
                                        </span>
                                        <span class="dot" id='dot3'></span>
                                        <span class='type'>
                                                <p>Web development</p>
                                        </span>
                                </div>
                                <div class='pie_chart'><img
                                                src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\pie_chart.png"
                                                alt="pie_chart"></div>
                        </div>
                        <div class="forum_status">
                                <div class="cs_title">
                                        <p>Forum Status</p>
                                </div>
                                <div class='fs_total'>
                                        <h1 id='total_q'>85</h1>
                                        <p>TOTAL</p>
                                </div>
                                <div class='question_status' id='solved_q'>
                                        <p>SOLVED</p>
                                        <div class='bar' id='solved'>
                                                <div class='bar_c' id='solved_c'></div>
                                        </div>
                                        <p id='solved_questions'>71</p>
                                </div>
                                <div class='question_status' id='unsolved_q'>
                                        <p>UNSOLVED</p>
                                        <div class='bar' id='unsolved'>
                                                <div class='bar_c' id='unsolved_c'></div>
                                        </div>
                                        <p id='unsolved_questions'>14</p>
                                </div>
                        </div>
                        <div class="monthly_gain">
                                <div class="cs_title" id='mg_title'>
                                        <p>Monthly Gain</p>
                                </div>
                                <div class='month' id='January'>
                                        <div class="gain"></div>
                                        <p class='month_name'>January</p>
                                        <h1 id='gain_value'>2500</h1>
                                </div>
                                <div class='month' id='February'>
                                        <div class="gain"></div>
                                        <p class='month_name'>February</p>
                                        <h1 id='gain_value'>1236</h1>
                                </div>
                                <div class='month' id='March'>
                                        <div class="gain"></div>
                                        <p class='month_name'>March</p>
                                        <h1 id='gain_value'>860</h1>
                                </div>
                                <div class='month' id='April'>
                                        <div class="gain"></div>
                                        <p class='month_name'>April</p>
                                        <h1 id='gain_value'>1596</h1>
                                </div>
                                <div class='month' id='May'>
                                        <div class="gain"></div>
                                        <p class='month_name'>May</p>
                                        <h1 id='gain_value'>2359</h1>
                                </div>
                                <div class='month' id='June'>
                                        <div class="gain"></div>
                                        <p class='month_name'>June</p>
                                        <h1 id='gain_value'>1998</h1>
                                </div>
                                <div class='month' id='July'>
                                        <div class="gain"></div>
                                        <p class='month_name'>July</p>
                                        <h1 id='gain_value'>2553</h1>
                                </div>
                                <div class='month' id='August'>
                                        <div class="gain"></div>
                                        <p class='month_name'>August</p>
                                        <h1 id='gain_value'>1846</h1>
                                </div>
                                <div class='month' id='September'>
                                        <div class="gain"></div>
                                        <p class='month_name'>September</p>
                                        <h1 id='gain_value'>527</h1>
                                </div>
                                <div class='month' id='October'>
                                        <div class="gain"></div>
                                        <p class='month_name'>October</p>
                                        <h1 id='gain_value'>2262</h1>
                                </div>
                                <div class='month' id='November'>
                                        <div class="gain"></div>
                                        <p class='month_name'>November</p>
                                        <h1 id='gain_value'>1054</h1>
                                </div>
                                <div class='month' id='December'>
                                        <div class="gain"></div>
                                        <p class='month_name'>December</p>
                                        <h1 id='gain_value'>1540</h1>
                                </div>

                        </div>
                </div>
        </div>
</body>


</html>