<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link href='C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\css\login.css'
        rel='stylesheet' />
</head>



<body class="align">

    <div class="grid align__item">
  
      <div class="register">
  
  
        <img src="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\_images\1x\Asset 5.png" alt="logo">
        <h2>Login</h2>
        <br>
        <form action="" method="post" class="form">
  
          <div >
            <input type="email" id="id" placeholder="info@mailaddress.com" class="form_input">
            <Label for="id" class="form__label">EMAIL</Label>
          </div>
          <br>
          <div >
            <input type="password" id="pwd" placeholder="••••••••••••" class="form_input">
            <label for="pwd" class="form__label">Password</label>
          </div>
            <button>Log In</button>
          <br>
        </form>  
        <br><br>
        <a href="C:\Users\Wickkid\My Drive\2nd Year\1st Semester\Projet technologies WEB\Project\assets\html\CoursesPage.html"><p>Or continue as guest</p></a>
      </div>
  
    </div>
  
  </body>