thead,tfoot 
{
    background-color: #3f87a6;
    color: #fff;
}

tbody 
{
    background-color: #e4f0f5;
}

caption 
{
    padding: 10px;
    caption-side: bottom;
}

table
{
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .1rem;
    position:absolute;
    top: 7cm;
    right:20%;
}
td,th 
{
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    
}

td 
{
    text-align:center;
   
}

.fl-table1
{
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    position:absolute;
    top: 5cm;
    right: 7cm;
}
.bt1
{
    background-color: #3f87a6;
    color: #fff;
 position: absolute;
 top: 4cm;
 right: 28cm;
 border-top-left-radius: 1ex;
 border-top-right-radius: 1ex;
 border-bottom-right-radius: 1ex;
 border-bottom-left-radius: 1ex;
}
.bt2
{
    background-color: #3f87a6;
    color: #fff;
 position: absolute;
 top: 4cm;
 right: 14.5cm;
 border-top-left-radius: 1ex;
 border-top-right-radius: 1ex;
 border-bottom-right-radius: 1ex;
 border-bottom-left-radius: 1ex;
}
html footer
{
background-color: rgb(41, 79, 151);
position:static;

padding: .25em 0;
padding-top: 2rem;
padding-bottom: 2rem;
border-top: 3px solid rgb(41, 79, 151);
width: 100%;
}


footer .credit,footer .credit a {
  text-align: right;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;

}
section .form-style-5
{
    position: absolute;
    left: 15cm;
 
	max-width: 500px;
	padding: 10px 20px;
	background: #3151bb;
	margin: 10px auto;
	padding: 20px;
	
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
 

.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="number"],
.form-style-5 input[type="file"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#0097f5;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="file"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #000000;
    color: #e4f0f5;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1259b6;
	color: rgb(212, 0, 0);
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #68a1c2;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #0a4c72;
}

@font-face {
    font-family: 'Technic_bold';
    src: url('fonts/TechnicBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Technic';
    src: url('fonts/Technic\ Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Display.fair';
    src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Athene';
    src: url('fonts/Athene.otf') format('opentype');
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f4f4f4;
    text-align: center;
    color: #eff1f4;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  
}

div.menu {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 112vh;
    overflow: hidden;
}

div.Logo {
    height: 9%;
    width: 13%;
    background-color: #ffffff;
}

.Logo text {
    color: black;
    text-align: center;
    position: absolute;
    top: 1%;
    left:1%;
}

.Logo .text h1 {
    color: black;
    text-align: center;
    font-family: 'Display.fair.bold';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    left: 4.5%;
    top: -10px;
}

.Logo .text h2 {
    color: black;
    font-family: 'Display.fair';
    font-weight: normal;
    font-style: normal;
    font-size: 8px;
    position: absolute;
    left: 4.5%;
    top: 50px;
}

.Logo  img {
    width: 3.4%;
    height: 7.5%;
    position: absolute;
    top: 0.7%;
    left: 0.3%;
}

div.sidebar {
    margin: 0;
    border: 0;
    background-color: #11233d;
    float: left;
    height: 100%;
    width: 30%;
}

div.sidebar_button img {
    max-width: 100%;
    max-height: 100%;
}

div.items {
    position: absolute;
    left: 22px;
    width: auto;
}

.sidebar .items a {
    text-decoration: none;
}

h1.items {
    font-size: 20px;
    height: 15px;
    text-align: center;
    text-align: left;
    font-family: 'Athene';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 8px;
}

div.item {
    width: 30ch;
    height: 6vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -20px;
    border: 1px solid #00000009;
}

.item h2 {
    color: #fffefe;
    text-align: center;
    text-align: left;
    font-family: 'Technic';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: 20px;
}

div.item:hover>h2, div.item:hover {
    color: #11233d;
    background-color: #f9f9f9;
}

img.line {
    max-width: 180px;
    position: relative;
    left: -30px;
}

div.profile {
    width: 30ch;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #11233d;
}

.profile h1 {
    text-align: left;
    font-family: 'Technic_bold';
    font-weight: normal;
    font-style: normal;
    color: #eff1f4;
    font-size: 15px;
    height: 10px;
}

.profile h2 {
    text-align: left;
    font-family: 'Display.fair';
    font-weight: normal;
    font-style: normal;
    color: #11233d;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 25px;
}

div.profile_frame {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 8px;
    left: 160px;
}

div.profile_id {
    position: relative;
    bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.profile .profile_frame img {
    max-width: 100%;
    max-height: 100%;
}

.profile .profile_id a {
    text-decoration: none;
}


.buttonc {
    min-width: 300px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fafaff;
    background: #d14f7a;
  background: linear-gradient(90deg, rgb(29, 37, 109) 0%, rgb(45, 70, 67) 100%);
    border: none;
    border-radius: 1000px;
   
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    top: 2cm;
    right: -10%;
    }
    
    .buttonC2 {
        min-width: 300px;
        min-height: 40px;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #fafaff;
        background: #d14f7a;
      background: linear-gradient(90deg, rgb(29, 37, 109) 0%, rgb(45, 70, 67) 100%);
        border: none;
        border-radius: 1000px;
       
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;
        top: 10cm;
        right: -10%;
        }
        
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 40%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
  