html footer
{
background-color: rgb(29, 77, 165);
color: rgb(255, 255, 255);
padding: .25em 0;
padding-top: 5rem;
  padding-bottom: 5rem;
border-top: 3px solid rgb(255, 244, 244);

border-bottom-left-radius: 1cm;
border-bottom-right-radius: 1cm;
 
   width: 100%;
}
footer div 
{
    display: flex;
    align-items: center;
    
}
footer address
{
    display: block;
    margin-left: 20px;
    font-weight: bold;
    color: rgb(255, 244, 244);
}
footer .fotter ul 
{
    display: flex;
    flex-grow: 5;
    text-align: center;
    list-style: none;
    justify-content: end;
}
footer .cant
{
  text-align: right;
  font-size: 0.9rem;
  position:absolute ;
  top :-1.5cm;
  left: -21cm;
}
footer .text-down
{
  color: rgb(255, 255, 255);
}
footer .fotter .pg
{
position:absolute;
top:56cm;
right: 24cm;
}
.cant a
{
  font-size: larger;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
footer p
{
  font-size: larger;
  font-family:'Trebuchet MS';

  position: relative;
  top: 0cm;
  left: -13cm;
  color: rgb(255, 255, 255);
}
 .fotter .pg1
{
position:absolute;
top:55.7cm;
right: 25cm;
}
footer .credit {
  text-align: right;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  position:absolute ;
  top :56.5cm;
  left: 35cm;
}
footer .credit a
{
  color: rgb(255, 255, 255);
}
footer strong
{
  color: #f9f9f9;
}
footer #logof
{ 
	position:absolute; 
  width: 76px;
	top:54.6cm; 
	left:33cm; 
  animation-name: rotate;
  animation-duration:100s;
  transform-style: preserve-3d;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#logof strong
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: lighter;
text-align: center;
position: absolute;
top: 0.4cm;
left: 2.5cm;
color: rgb(255, 255, 255);
}