

/********************************************************************************************/

.uwu ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.uwu ul li {
cursor: pointer;
--c: rgb(0, 0, 0);
color: var(--c);
font-size: 16px;
border: 0.3em solid var(--c);
border-radius: 0.5em;
width: 12em;
height: 3em;
text-transform: uppercase;
font-weight: bold;
font-family: sans-serif;
letter-spacing: 0.1em;
text-align: center;
line-height: 3em;
position: relative;
overflow: hidden;
z-index: 1;
transition: 0.5s;
margin: 1em;
}

.uwu ul li span {
position: absolute;
width: 25%;
height: 100%;
background-color: var(--c);
transform: translateY(150%);
border-radius: 50%;
left: calc((var(--n) - 1) * 25%);
transition: 0.5s;
transition-delay: calc((var(--n) - 1) * 0.1s);
z-index: -1;
}

.uwu ul li:hover {
color: rgb(255, 255, 255);
box-shadow: 5px 6px rgb(0, 0, 0);
}

.uwu ul li:hover span {
transform: translateY(0) scale(2);
}

.uwu ul li span:nth-child(1) {
--n: 1;
}

.uwu ul li span:nth-child(2) {
--n: 2;
}

.uwu ul li span:nth-child(3) {
--n: 3;
}

.uwu ul li span:nth-child(4) {
--n: 4;
}
.owo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    .owo ul li {
    cursor: pointer;
    --c: rgb(0, 0, 0);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    }
    
    .owo ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    }
    
    .owo ul li:hover {
    color: rgb(255, 255, 255);
    box-shadow: 5px 6px rgb(0, 0, 0);
    }
    
    .owo ul li:hover span {
    transform: translateY(0) scale(2);
    }
    
    .owo ul li span:nth-child(1) {
    --n: 1;
    }
    
    .owo ul li span:nth-child(2) {
    --n: 2;
    }
    
    .owo ul li span:nth-child(3) {
    --n: 3;
    }
    
    .owo ul li span:nth-child(4) {
    --n: 4;
    }
/*****************************************************************/
.create{
position: absolute;
top: 710px;
left: 1120px;
}
.delete{
position: absolute;
top: 710px;
left: 920px;
}
.create_88{
position: absolute;
top: 710px;
left: 1100px;
}
.delete_88{
position: absolute;
top: 710px;
left: 620px;
}
.categoryname_88{
background-color: rgba(0, 0, 0, 0.89);
color: white;
position: absolute;
left: 800px;
top: 460px;
width: 340px;
height: 40px;
border-radius: 8px
}
.add{
position: absolute;
left: 800px;
top: 520px;
}
.select{
    position: absolute;
    top: 710px;
    left: 600px;
}
body{
background-color: rgb(129, 127, 127);
}
.search{
background-color: rgba(0, 0, 0, 0.89);
color: white;
position: absolute;
text-align: center;
padding: 6px;
border: none;
font-size: 16px;
left: 1060px;
top: 190px;
border-radius: 8px;
width: 200px;
height: 40px;
box-shadow: 2px 2px 2px rgb(100, 101, 161);
}
.search:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.search1{
background-color: rgba(0, 0, 0, 0.89);
color: white;
position: absolute;
text-align: center;
padding: 6px;
border: none;
font-size: 16px;
left: 1110px;
top: 250px;
border-radius: 8px;
width: 200px;
height: 40px;
box-shadow: 2px 2px 2px rgb(100, 101, 161);
}
.search1:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.uwu{
position: absolute;
top: 350px;
left: 180px;
}
.texting_991{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    position: absolute;
    left: 630px;
    top: 307px;
    width: 680px;
    height: 360px;
    border-radius: 8px
    }
.postsec{
background-color: white;
color: white;
text-align: center;
position: absolute;
top: 350px;
left: 180px;
width: 225px;
height: 290px;
border-radius: 30px;
box-shadow: 2px 2px 2px rgb(100, 101, 161);
}
.post444{
background-color: white;
color: white;
position: absolute;
left: 550px;
top: 100px;
width: 830px;
height: 755px;
border-radius: 8px;
}
.post{
background-color: white;
color: white;
position: absolute;
left: 550px;
top: 200px;
width: 830px;
height: 625px;
border-radius: 8px;
}
.post333{
background-color: white;
color: white;
position: absolute;
left: 550px;
top: 260px;
width: 830px;
height: 1720px;
border-radius: 8px;
}
.post2333{
background-color: rgba(0, 0, 0, 0.89);
cursor: pointer;
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 196px;
width: 760px;
height: 40px;
border-radius: 8px;
box-shadow: 2px 2px 2px rgb(100, 101, 161);
}
.post2_11{
background-color: rgba(0, 0, 0, 0.89);
cursor: pointer;
color: white;
position: absolute;
left: 630px;
top: 697px;
width: 580px;
height: 40px;
border-radius: 8px;
box-shadow: 2px 2px 2px rgb(100, 101, 161);
}
.commentuu{
position: relative;
top: 600px;
left: 640px;
font-size: 20px;
color: white;
}
.buttondone{
position: absolute;
left: 1220px;
top: 700px;
border-radius: 8px;
height: 35px;

}
.post2_11:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.post2{
background-color: rgba(0, 0, 0, 0.89);
cursor: pointer;
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 630px;
top: 106px;
width: 700px;
height: 40px;
border-radius: 8px;
box-shadow: 2px 2px 2px rgb(100, 101, 161);
}
.post2:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.po333{
    background-color: white ;
color: white;
position: absolute;
left: 550px;
top: 180px;
width: 830px;
height: 70px;
border-radius: 8px;
}
.po{
background-color: white ;
color: white;
position: absolute;
left: 550px;
top: 90px;
width: 830px;
height: 70px;
border-radius: 8px;
}
.po2{
background-color: white ;
color: white;
position: absolute;
left: 550px;
top: 30px;
width: 830px;
height: 125px;
border-radius: 8px;
}
.owo{
position: absolute;
left: 550px;
top: 170px;
cursor: pointer;
}
.owo1{
position: absolute;
left: 750px;
top: 170px;
cursor: pointer;
}
/***********************************************************/
/* .lastone{
background-color: black;
position: absolute;
width: 1901px;
height: 200px;
top: 2050px;
} */
.postreal_111{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 170px;
width: 770px;
height: 600px;
border-radius: 8px;
}
.postreal_99{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 290px;
width: 770px;
height: 500px;
border-radius: 8px;
}
.backgr{
background-color: rgba(0, 0, 0, 0.137);
color: white;
position: absolute;
left: 580px;
top: 230px;
width: 770px;
height: 460px;
border-radius: 8px;
}
.postreal{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 290px;
width: 770px;
height: 340px;
border-radius: 8px;
}

.underpostreal_111{
    background-color: rgba(0, 0, 0, 0.89);
    color: rgba(0, 0, 0, 0.89);
    position: absolute;
    left: 580px;
    top: 780px;
    width: 770px;
    height: 40px;
    border-radius: 8px;
}
.underpostreal{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 635px;
width: 770px;
height: 40px;
border-radius: 8px;
}
.like{
color: white;
text-decoration: none;
position: absolute;
left: 645px;
top: 645px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislike{
text-decoration: none;
color: white;
position: absolute;
left: 760px;
top: 645px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment{
text-decoration: none;
color: white;
position: absolute;
left: 1200px;
top: 645px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.like:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislike:hover{
text-decoration: none;
color: #b3b3b3;
}
.comment:hover{
text-decoration: none;
color: #b3b3b3;
}
.image{
    width: 700px;
    height: 180px;
    position: absolute;
    left: 620px;
    top: 10px;
}
.likecat{
color: white;
text-decoration: none;
position: absolute;
left: 1280px;
top: 325px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislikecat{
text-decoration: none;
color: white;
position: absolute;
left: 1270px;
top: 376px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.likecat:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislikecat:hover{
text-decoration: none;
color: #b3b3b3;
}
.catall{
text-decoration: none;
color: white;
position: absolute;
left: 620px;
top: 550px;
font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catall:hover{
text-decoration: none;
color: #b3b3b3;
}
.postreal2{
background-color: white;
position: absolute;
left: 560px;
top: 40px;
width: 810px;
height: 107px;
border-radius: 8px;
}
.photo3333{
background-color: rgba(0, 0, 0, 0.89);
border-radius: 120px;
position: absolute;
left: 890px;
top: 70px;
width: 120px;
height: 120px;
}
.photo2_99{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 150px;
position: absolute;
left: 890px;
top: 120px;
width: 150px;
height: 150px;
}
.photo{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 565px;
top: 101px;
width: 50px;
height: 50px;
}
.photo:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.photo2{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 595px;
top: 310px;
width: 60px;
height: 60px;
}
.photo2:hover {
background-color: rgba(0, 0, 0, 0.52);
}

.select_cat{
    position: absolute;
    top: 120px;
    left: 850px;
}
.photo3{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 1275px;
top: 310px;
width: 60px;
height: 60px;   
}
.photo3:hover {
    background-color: rgba(0, 0, 0, 0.52);
    }

.cat{
text-decoration: none;
color: white;
position: absolute;
left: 1150px;
top: 325px;
font-size: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cat:hover{
text-decoration: none;
color: #b3b3b3;
}
.username_99{
text-decoration: none;
color: white;
position: absolute;
left: 920px;
top: 305px;
font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username333{
text-decoration: none;
color: white;
position: absolute;
left: 900px;
top: 130px;
font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.username{
text-decoration: none;
color: white;
position: absolute;
left: 670px;
top: 325px;
font-size: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username:hover{
text-decoration: none;
color: #b3b3b3;
}
.texting_99{
background-color: rgba(0, 0, 0, 0.89);
color: white;
position: absolute;
left: 630px;
top: 357px;
width: 680px;
height: 360px;
border-radius: 8px
}
.texting_111{
background-color: rgba(0, 0, 0, 0.89);
font-size: 20px;
color: white;
position: absolute;
left: 630px;
top: 250px;
width: 680px;
height: 330px;
border-radius: 8px;
}
.texting_1112{
background-color: rgba(0, 0, 0, 0.89);
color: white;
position: absolute;
left: 630px;
top: 590px;
width: 680px;
height: 150px;
border-radius: 8px;
}
.texting{
background-color: rgba(0, 0, 0, 0.89);
font-size: 20px;
color: white;
position: absolute;
left: 630px;
top: 377px;
width: 680px;
height: 230px;
border-radius: 8px;
}
/*******************************************************************/

/*******************************************************************/

.like_111{
    color: white;
text-decoration: none;
position: absolute;
left: 680px;
margin-top: 790px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislike_111{
text-decoration: none;
color: white;
position: absolute;
left: 790px;
margin-top: 790px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.like_111:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislike_111:hover{
text-decoration: none;
color: #b3b3b3;
}

.likecat2{
color: white;
text-decoration: none;
position: absolute;
left: 1280px;
margin-top: 695px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislikecat2{
text-decoration: none;
color: white;
position: absolute;
left: 1270px;
margin-top: 750px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.likecat2:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislikecat2:hover{
text-decoration: none;
color: #b3b3b3;
}
.catall2{
text-decoration: none;
color: white;
position: absolute;
left: 620px;
margin-top: 910px;
font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catall2:hover{
text-decoration: none;
color: #b3b3b3;
}
.postreal3{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 650px;
width: 770px;
height: 340px;
border-radius: 8px;
}
.postreal3:hover{
    background-color: rgba(0, 0, 0, 0.92);
}
/*********************************************************************************************************************************/

.postreal33{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 700px;
width: 770px;
height: 340px;
border-radius: 8px;
}
.postreal33:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.underpostreal33{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 1045px;
width: 770px;
height: 40px;
border-radius: 8px;
}
.like33{
color: white;
text-decoration: none;
position: absolute;
left: 645px;
top: 1055px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislike33{
text-decoration: none;
color: white;
position: absolute;
left: 760px;
top: 1055px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment33{
text-decoration: none;
color: white;
position: absolute;
left: 1200px;
top: 1055px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.like33:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislike33:hover{
text-decoration: none;
color: #b3b3b3;
}
.comment33:hover{
text-decoration: none;
color: #b3b3b3;
}
.photo333{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 1275px;
top: 720px;
width: 60px;
height: 60px;   
}
.photo333:hover {
background-color: rgba(0, 0, 0, 0.52);
}

.photo233{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 595px;
top: 720px;
width: 60px;
height: 60px;
}
.photo233:hover {
background-color: rgba(0, 0, 0, 0.52);
}
.texting33{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 630px;
top: 790px;
width: 680px;
height: 230px;
border-radius: 8px;
}
.cat33{
text-decoration: none;
color: white;
position: absolute;
left: 1170px;
top: 740px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username_111{
text-decoration: none;
color: white;
position: absolute;
left: 670px;
margin-top: 200px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cat_111{
text-decoration: none;
color: white;
position: absolute;
left: 1170px;
margin-top: 200px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username33{
text-decoration: none;
color: white;
position: absolute;
left: 670px;
margin-top: 740px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/******************************************************************************************************************************************/



.postreal44{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 1110px;
width: 770px;
height: 340px;
border-radius: 8px;
}
.postreal44:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.underpostreal44{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 1455px;
width: 770px;
height: 40px;
border-radius: 8px;
}
.like44{
color: white;
text-decoration: none;
position: absolute;
left: 645px;
top: 1465px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislike44{
text-decoration: none;
color: white;
position: absolute;
left: 760px;
top: 1465px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment44{
text-decoration: none;
color: white;
position: absolute;
left: 1200px;
top: 1465px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.like44:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislike44:hover{
text-decoration: none;
color: #b3b3b3;
}
.comment44:hover{
text-decoration: none;
color: #b3b3b3;
}
.photo2_111{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 60px;
position: absolute;
left: 595px;
top: 180px;
width: 60px;
height: 60px;
}
.photo2_111:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.photo3_111{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 60px;
position: absolute;
left: 1275px;
top: 180px;
width: 60px;
height: 60px;
}
.photo3_111:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.photo344{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 1275px;
top: 1130px;
width: 60px;
height: 60px;   
}
.photo344:hover {
background-color: rgba(0, 0, 0, 0.52);
}

.photo244{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 595px;
top: 1130px;
width: 60px;
height: 60px;
}
.photo244:hover {
background-color: rgba(0, 0, 0, 0.52);
}
.texting44{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 630px;
top: 1200px;
width: 680px;
height: 230px;
border-radius: 8px;
}
.cat44{
text-decoration: none;
color: white;
position: absolute;
left: 1170px;
top: 1150px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username44{
text-decoration: none;
color: white;
position: absolute;
left: 670px;
margin-top: 1150px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/******************************************************************************************************************************************/




.postreal55{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 1510px;
width: 770px;
height: 340px;
border-radius: 8px;
}
.postreal55:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.underpostreal55{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 1855px;
width: 770px;
height: 40px;
border-radius: 8px;
}
.like55{
color: white;
text-decoration: none;
position: absolute;
left: 645px;
top: 1865px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislike55{
text-decoration: none;
color: white;
position: absolute;
left: 760px;
top: 1865px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment55{
text-decoration: none;
color: white;
position: absolute;
left: 1200px;
top: 1865px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.like55:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislike55:hover{
text-decoration: none;
color: #b3b3b3;
}
.comment55:hover{
text-decoration: none;
color: #b3b3b3;
}
.photo355{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 1275px;
top: 1530px;
width: 60px;
height: 60px;   
}
.photo355:hover {
background-color: rgba(0, 0, 0, 0.52);
}

.photo255{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
border-radius: 50px;
position: absolute;
left: 595px;
top: 1530px;
width: 60px;
height: 60px;
}
.photo255:hover {
background-color: rgba(0, 0, 0, 0.52);
}
.texting55{
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 630px;
top: 1600px;
width: 680px;
height: 230px;
border-radius: 8px;
}
.cat55{
text-decoration: none;
color: white;
position: absolute;
left: 1170px;
top: 1550px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username55{
text-decoration: none;
color: white;
position: absolute;
left: 670px;
margin-top: 1550px;
font-size: 16px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**************************************************************************************************************************************************/



.likecat77{
color: white;
text-decoration: none;
position: absolute;
left: 1280px;
margin-top: 1056px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislikecat77{
text-decoration: none;
color: white;
position: absolute;
left: 1270px;
margin-top: 1106px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.likecat77:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislikecat77:hover{
text-decoration: none;
color: #b3b3b3;
}
.catall77{
text-decoration: none;
color: white;
position: absolute;
left: 620px;
margin-top: 1270px;
font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catall77:hover{
text-decoration: none;
color: #b3b3b3;
}

.postreal77{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 1010px;
width: 770px;
height: 340px;
border-radius: 8px;
}
.postreal77:hover{
    background-color: rgba(0, 0, 0, 0.92);
}

/*****************************************************************************************************************************************************************************/



.likecat88{
color: white;
text-decoration: none;
position: absolute;
left: 1280px;
margin-top: 1406px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dislikecat88{
text-decoration: none;
color: white;
position: absolute;
left: 1270px;
margin-top: 1456px;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.likecat88:hover{
text-decoration: none;
color: #b3b3b3;
}
.dislikecat88:hover{
text-decoration: none;
color: #b3b3b3;
}
.catall88{
text-decoration: none;
color: white;
position: absolute;
left: 620px;
margin-top: 1626px;
font-size: 30px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catall88:hover{
text-decoration: none;
color: #b3b3b3;
}

.postreal88{
cursor: pointer;
background-color: rgba(0, 0, 0, 0.89);
color: rgba(0, 0, 0, 0.89);
position: absolute;
left: 580px;
top: 1370px;
width: 770px;
height: 340px;
border-radius: 8px;
}
.postreal88:hover{
background-color: rgba(0, 0, 0, 0.92);
}
.kekw{
    position: relative;
    margin-bottom: 350px;
}
.na3n{
    position: relative;
    margin-bottom: 350px;
}
/***************************************************************************************************************************************/

.buttondelete{
    position: absolute;
    top: 330px;
    left: 890px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttondelete:hover{
text-decoration: none;
color: #b3b3b3;
}
.buttonmodify{
    position: absolute;
    top: 330px;
    left: 960px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonmodify:hover{
text-decoration: none;
color: #b3b3b3;
}
.heellooo{
position: absolute;
top: 300px;
left: 1150px;
text-decoration: none;
color: rgb(100, 101, 161);
font-size: 20px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.doneee{
    position:absolute;
    top:630px;
    left: 850px;
}
.bara3ad{
position: absolute;
font-size: 16px;
border-radius: 8px;
top: 200px;
left: 650px;
background-color: rgba(0, 0, 0, 0.89);
color: white;
text-align: center;
height: 40px;
}
.kekw2{
    position: relative;
    margin-bottom: -10px;
}
.buttondeletecategory{
position: absolute;
top: 330px;
left: 1200px;
color: white;
text-decoration: none;
font-size: 15px;
font-weight: bold;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttondeletecategory:hover{
text-decoration: none;
color: #b3b3b3;
}
.errorcategory{
position: absolute;
top: 650px;
left: 850px;
font-size: 20px;
color: red;
}

.namecategory{
    color: white;
    position: absolute;
    top: 60px;
    left: 830px;
    font-size: 40px;
}
.searchbutt{
position: absolute;
background-color: rgba(0, 0, 0, 0.89);
color: white;
text-align: center;
padding: 6px;
border: none;
font-size: 16px;
left: 1280px;
top: 192px;
border-radius: 8px;
}

.active{
    
    color: black;
    box-shadow: 5px 6px rgb(0, 0, 0);
    background-color: rgb(100, 101, 161);
}
/* .fixedu{
    position: fixed;
    top: 425px;
}
.fixedu2{
    position: fixed;
    top: 490px;
}
.fixedu3{
    position: fixed;
    top: 555px;
} */